---
---



@import "{{ site.theme }}";

#downloads {
    position: absolute;
    width: 120px;
    z-index: 10;
    bottom: -40px;
    right: 0;
    height: 70px;
    background: url('../images/icon_download.png') no-repeat 0% 90%;
}

#logo {
    width: 240px;
    bottom: 0px;
    right: 0;
    float: right;
    border:0;
    box-shadow: none;
}

#project_title { 
    font-size: 48px; 
    line-height: 42px;
    padding-top: 12px;
    padding-bottom: 48px;
}

